#container {
    overflow: scroll;
    height: 600px;
    width: 100%;
    border-style: solid;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-anchor: none; /* Disable for webkit supporting scroll anchoring */
}

.error {
    color: red;
}

#container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}