<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script type="text/javascript" src="/log.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/log.css">
    <title th:text="${fileName}"></title>
</head>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        init([[${fileName}]], [[${line}]])
    };
    /*]]>*/
</script>

<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1 th:if="${error} == null" th:text="${fileName}"></h1>
<h1 th:if="${error} != null" th:inline="text">[[${fileName}]]: [[${error}]]</h1>
<div th:if="${error} == null" id="container">
    <table id="log"></table>
</div>
</body>
</html>